@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2><strong>Engineer Details</strong></h2>
<hr />
<h3><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)</h3>
<h3><strong>@Html.DisplayNameFor(model => model.Skillset):</strong> @Html.DisplayFor(model => model.Skillset)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not a specialist on any machines</p>
}
else
{
  <h4>This engineer specializes in the following machines:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <strong><li>@join.Machine.Name</li></strong>
    }
  </ul>
}
<p>@Html.ActionLink("Edit Engineer", "edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Fire Engineer", "delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to list", "Index", "Engineers")</p>